.container{
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}


.box {
    width: 56px;
    height: 56px;
    background-color: white;
    border-right: 4px solid red;
    border-bottom: 4px solid red;
    
}




.missing-border{
    border-top: 4px solid red;
}

.border-top{
    
}

.border-right{
    
}
.border-bottom{
    
}